#googlemaps{
  height: 70vh;
  width: 80vw;
  position:relative;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}
#maps{
  position: absolute;
  z-index: 2; /* The z-index should be higher than Google Maps */
  opacity: 0.7;
  background: white;
  margin-top: 10px;
}
//....header



//...section-one
.contact-section-one{
  width: 100vw;
  height: auto;
}
.contact-section-one-wraper{
  margin-top: 100px;
  margin-bottom: 100px;
  @media #{$bigScreen} {
    display: flex;
    flex-direction: column;
  }
}
.contact-section-one-contacts-wraper{
  width: 20%;
  height: auto;
  @media #{$bigScreen} {
    width: 100%;
  }
  .contact-section-one-column{
    width: 90%;
    height: auto;
    margin-bottom: 18px;
    @media #{$bigScreen} {
      width: 100%;
    }
    .contact-span-wraper {
      width: 60px;
      span {
        font-size: 25px;
        color: #333333;
        width: 100px;
      }
    }
  }
}
.contact-sec-one-text-wraper {
  h3{
    font-family: 'Ubuntu';
    font-weight: 500;
    size: 14px;
    letter-spacing: 1px;
    line-height: 24px;
    text-transform: uppercase;
    color: #333333;
  }
  h4{
    margin-bottom: 10px;
    font-family: 'Ubuntu';
    font-weight: 100;
    size: 14px;
    letter-spacing: 1px;
    line-height: 24px;
    color: #333333;
  }
}
.contatc-sec-one-input-wraper{
  width: 35%;
  height: auto;
  @media #{$bigScreen} {
    width: 100%;
  }
  input{
    width: 93%;
    height: 30px;
    margin-bottom: 18px;
    font-size: 14px;
    font-family: 'Ubuntu';
    padding: 10px;
    @media #{$bigScreen} {
      width: 97%;
    }
    @media #{$phone} {
      padding: 3px;
    }
  }
}
.contact-sec-one-textarea {
  width: 35%;
  height: auto;
  @media #{$bigScreen} {
    width: 100%;
  }
  textarea{
    width: 93%;
    height: 115px;
    border: 1px solid silver;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 14px;
    font-family: 'Ubuntu';
    @media #{$bigScreen} {
      width: 97%;
    }
    @media #{$phone} {
      padding: 3px;
    }

  }
  button{
    width: 101%;
    height: 50px;
    border: none;
    font-size: 18px;
    font-family: 'Ubuntu';
    color: white;
    text-transform: uppercase;
  }
}