@import "classes";
@import "colors";
@import "media";
@import "fonts";
@import "about";
@import "contact";
@import "portfolio";

* {
  margin: 0;
  padding: 0;
}

//.height{
//  height: 610px;
//    @media #{$phone} {
//      height: 300px;
//    }
//    @media #{$tabletSmallScreen} {
//      height:500px ;
//    }
//    @media #{$tabletBigSreen} {
//      height: 600px;
//    }
//
//}
.container {
  width: 80vw;
}

.navbar {
  width: 100vw;
}

.navbar-wraper {
  height: 100px;
}

.navbar-navigation {
  width: 50px;
  height: auto;
}

.header {
  width: 100vw;
  height: auto;
  margin-bottom: 150px;
}

.header-text-wraper {
  position: relative;
  margin-left: 50px;
  margin-top: -200px;
  z-index: 2;
  @media #{$phone} {
    margin-top: -100px;
  }

  h2 {
    font-size: 50px;
    font-family: 'Lekton';
    text-transform: uppercase;
    color: white;
        @media #{$phone} {
          font-size: 20px;
        }
    span {
      background: #ffbcb9;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 2px;
      padding-bottom: 2px;
      @media #{$phone} {
        padding-left: 3px;
        padding-right: 3px;
        padding-top: 0px;
        padding-bottom: 0px;
      }
    }
  }

  h3 {
    font-size: 30px;
    font-family: 'Lekton';
    color: white;
    text-transform: uppercase;
    font-weight: 100;
    @media #{$phone} {
      font-size: 15px;
    }
  }
}

//...............header-slider
#slider {
  width: 90vw;
  overflow: hidden;
  //@extend .height
}

#slider .slides {
  display: block;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
}

#slider .slide {
  float: left;
  list-style-type: none;
  width: 90vw;
  //@extend .height
}



  //............section-one
.line {
  border-bottom: 1px solid;
  width: 80px;
  color: #111111;
}
.section-one-text-wraper {
  width: 48%;
  h2 {
    font-family: 'Lekton';
    font-size: 24px;
    font-weight: bold;
    color: #111111;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  h3 {
    margin-top: 30px;
    font-family: 'Ubuntu';
    font-weight: normal;
    text-transform: uppercase;
    font-size: 18px;
    color: #111111;
    letter-spacing: 1px;
    line-height: 24px;
  }
  h4 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Ubuntu';
    font-weight: 100;
    size: 14px;
    letter-spacing: 1px;
    line-height: 24px;
  }
  @media #{$desktopScreen} {
    width: 80vw;
  }
}

.section-one {
  height: auto;
  width: 100vw;
  margin-bottom: 100px;
}

.section-one-wraper {
  @media #{$desktopScreen}
  {
    display: flex;
    flex-direction: column;
  }
}

#slider2 {
  width: 48%;
  height: 400px;
  overflow: hidden;
  @media #{$desktopScreen} {
    width: 80vw;
    margin-right: 50%;
  }
}

#slider2 .slides2 {
  display: block;
  width: 6000px;
  height: 400px;
  margin: 0;
  padding: 0;
}

#slider2 {
  margin: 0 auto;
  list-style-type: none;
  width: 48%;
  height: auto;
  @media #{$desktopScreen} {
    width: 50vw;
  }
}
/**
 Kamila Slajder
 */

@keyframes slidy {
  0% { left: 0%; }
  20% { left: 0%; }
  25% { left: -100%; }
  45% { left: -100%; }
  50% { left: -200%; }
  70% { left: -200%; }
  75% { left: -300%; }
  95% { left: -300%; }
  100% { left: -400%; }
}

div#slider2 div img {width: 25%; float: left;}

div#slider2 div {
  position: relative;
  //Width uzaleznione od ilosci slajderow. przy 3 - 300% etc
  width: 400%;
  margin: 0 auto;
  font-size: 0;
  animation: 12s slidy infinite;
}

/**
Slajader background
 */

//..........section-two
.section-two{
  width: 100vw;
  height: auto;
}
.section-two-text-wraper{
  h2{
    font-family: 'Lekton';
    font-size: 24px;
    font-weight: bold;
    color: #111111;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  h4{
    margin-top: 30px;
    margin-bottom: 40px;
    font-family: 'Ubuntu';
    font-weight: 500;
    size: 14px;
    letter-spacing: 1px;
  }
}

.section-two-column-wraper{
  @media #{$galerymedia} {
    display: flex;
    flex-direction: column;
  }
  span{
    font-size:36px;
    color: #333333;
    margin-bottom: 20px;
  }
  h2{
    margin-top: 30px;
    font-family: 'Lekton';
    font-weight: 600;
    font-size: 18px;
    color: #111111;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  h4 {
    font-family: 'Ubuntu';
    font-weight: 100;
    size: 14px;
    margin-bottom: 60px;
    line-height: 24px;
  }
}
.section-two-column{
  width: 30%;
  @media #{$galerymedia} {
    width: 90%;
  }
}

//..............section-three
.section-three-img-wraper{
  @media #{$bigScreen} {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.two{
  width: 100%;
  height: 300px;
  font-family: 'Lekton';
  font-weight: 200;
  font-size: 20px;
  text-transform: uppercase;
  color: transparent;
  background: black;
  @media #{$phone} {
    color:white;
  }
  &:hover{
    background: map-get($colors, rgba);
    color: #333333;
  }
}
.one{
  position: relative;
  width: 100%;
  height: 100%;
}
.section-three-img {
  width: 30%;
  height: 300px;
  background: white;
  color: white;
  margin: auto;
  @media #{$bigScreen} {
    width: 50%;
    margin-bottom: 30px;
  }
  @media #{$phone} {
    width: 70%;
  }
}
/* Transision */
.section-three-text-wraper {
  h2 {
    margin-top: 30px;
    font-family: 'Lekton';
    font-size: 24px;
    font-weight: bold;
    color: #111111;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  h4 {
    margin-top: 30px;
    margin-bottom: 40px;
    font-family: 'Ubuntu';
    font-weight: 500;
    size: 14px;
    letter-spacing: 1px;
  }
}
.section-three-img *, .section-three-img *:after, .section-three-img *:before{
  box-sizing:border-box;
}
.one:after{
  content: ' ';
  position:absolute;
  top:0;
  left:0;
  width:0;
  height:0;
  z-index:1;
  border-top:6px solid map-get($colors, mainColor);
  border-right:6px solid map-get($colors, mainColor);
  border-width:0px;
}
.one:before{
  content: ' ';
  position:absolute;
  bottom:0;
  right:0;
  width:0;
  height:0;
  z-index:1;
  border-bottom:6px solid map-get($colors, mainColor);
  border-left:6px solid map-get($colors, mainColor);
  border-width:0px;
}

.one:hover:after,
.one:hover:before{
  border-width:6px;
  animation:aW_nH 0.5s, sW_aH 0.5s, sW_sH 1s infinite;
  animation-delay:0s, 0.5s, 1s;
}
/* A weird set of keyframes that can do anything */
@keyframes sW_aH{ from{width:100%; height:0%;} to{width:100%; height:100%;} }
@keyframes sW_sH{ from{width:100%; height:100%;} to{width:100%; height:100%;} }
@keyframes aW_nH{ from{width:0%;} to{width:100%;} }


//...........section-four
.section-form-wraper {
  margin-top: 100px;
  margin-bottom: 100px;
  height: 300px;
  @media #{$galerymedia} {
    display: flex;
    flex-direction: column;
    height: 400px;
  }
}

.section-four-text {
  width: 50%;
  height: 100%;
  background: map-get($colors, mainColor);
  @media #{$galerymedia} {
    width: 100%;
  }
  h2 {
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'Lekton';
    font-weight: normal;
    letter-spacing: 2px;
    line-height: 40px;
    @media #{$galerymedia} {
      margin: 10px;
    }
    span {
      font-weight: bold;
    }
  }
}

.section-four-input-wraper {
  width: 50%;
  height: 100%;
  background: #2a2a2a;
  @media #{$galerymedia} {
    width: 100%;
  }
  .sec-four-input-background {
    width: 70%;
    height: 70%;
    background: white;
    input {
      width: 80%;
      height: 40px;
      border: 1px solid #787878;
      font-size: 18px;
      font-family: 'Ubuntu';
      padding-left: 10px;
    }
    button {
      width: 60%;
      height: 40px;
      background: map-get($colors, mainColor);
      border: none;
      color: white;
      font-size: 18px;
      text-transform: uppercase;
      font-family: 'Lekton';
      font-weight: normal;
      margin-top: 20px;
      letter-spacing: 2px;
    }

  }
}
//.....footer
footer {
  background: #f4f4f4;
  width: 100vw;
  height: auto;
}

.footer-wraper {
  @media #{$galerymedia} {
    order: 2;
  }
  margin-top: 100px;
  margin-bottom: 50px;
  @media #{$galerymedia} {
    display: flex;
    flex-direction: column;
  }
  div {
    margin-bottom: 20px;
    h2 {
      text-transform: uppercase;
      font-family: 'Lekton';
      font-weight: bold;
      font-size: 18px;
      color: #000000;
      line-height: 20px;
      letter-spacing: 1px;
      margin-bottom: 30px;
    }
    h4 {
      font-family: 'Ubuntu';
      font-weight: 100;
      size: 14px;
      color: #787878;
      line-height: 24px;
    }
  }
}

.footer-column-icon {
  width: auto;
  @media #{$galerymedia} {
    align-items: flex-start;
    order: 3;
  }
  .footer-icon {
    span {
      font-size: 20px;
      margin-bottom: 50px;
      margin-right: 10px;
      @media #{$galerymedia} {
        margin-bottom: 10px;
      }
    }
  }
}





























